@font-face {
    font-family: 'Marhey';
    
    src: local('../fonts/Marhey-Bold.ttf'),
        url('../fonts/Lato-Regular.eot?#iefix'),
        url('../fonts/static/Marhey-Light.ttf'),
        url('../fonts/Marhey-Regular.ttf') format('woff'),
        url('../fonts/Marhey-Medium.ttf') format('truetype');
        /* url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg'),
        url('../fonts/FF Yaseer.otf') format('otf'); */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html{
    font-size: 16px;
}

body{
    font-family: 'Marhey' !important;
    overflow-x: hidden;
}

:root{
    --text-color:rgba(64, 64, 64, 1);
    --text-alt-color:rgba(15, 20, 25, 1);
    --red-color:rgba(230, 100, 71, 1);
    --aqua-color:rgba(0, 170, 149, 1);
    --light-color:rgba(255, 255, 255, 1);
    --border-color:rgba(207, 207, 207, 1);
    --gray-color:rgba(248, 248, 248, 1);
    --red-alt-color:rgba(236, 108, 81, 1);
}
a{
    text-decoration: none;
}
/*GLOBAL CLASSES */
.section-heading{
     
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--aqua-color);
    position: relative;
}
.small-heading{
     
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    margin-top: 50px;
}
.section-heading::after{
    position: absolute;
    content: " ";
    background-color: var(--border-color);
    height: 13px;
    width: 130px;
    border-radius: 50px;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
}
@media (max-width:550px) {
    .section-heading{
        font-size: 32px;
    }
    .section-heading::after{
        height: 8px;
        width: 83px;
        border-radius: 50px;
        bottom: -20px;
    }
    .small-heading{
        font-size: 1rem;
    }
}
section{
    padding-top: 4rem;
    /* padding-bottom: 50px; */
}
section.clients-opinion{
    padding-top: 150px;
}
/* NAVBAR */
.navbar-img{
    height: 86px;
    width: 209px;
    margin-top: 20px;
}
.nav-item{
    padding: 0 5px;
}
.nav-link{
    
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0em;
    color: var(--text-color);
}
/* HERO SECTION */
.hero-section{
    background-image: url(../img/Mask\ group.svg),url(../img/Group\ 7.svg), url(../img/gray-bg.svg);
    background-repeat: no-repeat;
    background-position:left -180px bottom ,left -180px bottom, right bottom 20px;
    background-size:  988px 574px,1046px 567px, 1144px 609px;
    height: 100vh;
}
.bee-container{
    left: 140px;
    top: -70px;
    animation: move 3s ease-in-out infinite;
}
.hero-section .butterfly-container{
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    animation: zoom-in-zoom-out 5s ease infinite;
}
.sunflower-container{
    left: 570px;
    margin-top: 269px;
    width: 170px;
    height: 170px;
    animation: loading 10s linear infinite;
}
.white-dots{
    top: -42px;
    right: -130px;
}
.hero-text{
    max-width: 474px;
    margin-right: 255px;
}
.hero-text p{
      
    font-size: 32px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: -0.055em;

}
.hero-text a{
    padding: 14px 40px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    display: inline-block;
    background-color: var(--red-color);
    color: var(--light-color);
    border-radius: 15px;
}
/* CLIENTS-OPINIONS */
.client-waves-container{
    left: 0;
    top: 120px;
}
.clients-opinion .butterfly-container{
    
    right: 200px;
    top: 0;
    animation: mvDownLeft 4s infinite ease-in-out;
}
.clients-opinion .small-butterfly-container{
    
    right: 70px;
    top: -50px;
    animation: zoom-in-zoom-out 5s ease infinite;
}
.clients-opinion{
    overflow: hidden;
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 20px 0;
    margin: 90px auto;
}
.slide-content{
    margin: 0 40px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow: hidden;
}
.slide-content::-webkit-scrollbar{
    display: none;
}
.crd{
    background-color: rgba(248, 248, 248, 1);
    border-radius: 12px;
    width: 23.75rem;
    margin-left: 30px;
    flex: 0 0 auto;
    padding: 10px 16px;
}
.crd:last-of-type{
    margin-left: 0;
}
.card-info{
    line-height: 19px;
    font-size: 1rem;
    margin-right: 10px;
}
.crd .name{
    font-weight: 700;
    color: var(--text-alt-color);
}
.crd .mail{
    color: rgba(83, 100, 113, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
}
.crd p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -1px;
    color: var(--text-color);
    margin-bottom: 0;
    margin-top: 1rem;
}
.crd-info{
    margin-right: 1rem;
}
.clients-opinion .slider-btn{
    border: none;
    height: 100%;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
}
.nxt-btn{
    left: 0;
}
.pre-btn{
    right:0;
}
.video-container{
    max-width: 70%;
    margin: auto;
}
/* BRANCHES */
.branches .card-slider{
    background-color: var(--gray-color);
    padding: 30px 0 20px;
    text-align: center;
}
.branches .crd{
    background-color: var(--gray-color);
    padding-top: 30px;
    padding-bottom: 40px;
}
.crd-heading{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 40px;
}
.carousel > div.carousel-indicators{
    margin-bottom: -35px;
}
.carousel > div.carousel-indicators > button{
    width: 12.8px;
    height: 12.8px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 1);
    display: inline-block;
    cursor: pointer;
}
.carousel > div.carousel-indicators > button.active{
    background-color: rgba(236, 108, 81, 1);
}
/*PRICES*/
.prices{
    margin-top: 97px;
}
.prices .price-card.yell{
    background: url(../img/yell-card.svg);
    opacity: 0.6;
}
.prices .price-card.yell-good{
    background: url(../img/yell-card.svg);
    opacity: 0.8;
}
.prices .price-card.yell-perfect{
    background: url(../img/yell-card.svg);
}
.prices .price-card.aqua{
    background: url(../img/aqua-card.svg);
}
.prices .small-heading{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
.prices .price-card{
    color: var(--light-color);
    padding: 30px;
}
.price-card span{
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 24px;
}
.price-card .num{
    font-size: 4.58rem;
    font-weight: 700;
    line-height: 32px;
    margin: 50px;
}
.price-box .box-img{
    margin-left: 25px;
}
.price-box .box-details{
      
    font-size: 18px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
}
.price-box .box-details span{
    font-size: 1.5rem;
    color: var(--aqua-color);
}
.prices .price-option{
    padding: 0 50px;
    height: 336px;
    color: var(--light-color);
    border-radius: 12px;
    font-weight: 900;
    line-height: 35px;
}
.prices .price-option.aqua{
    background-color: var(--aqua-color);
}
.prices .price-option.red{
    background-color: var(--red-color);
}
.prices .price-option span{
    font-size: 36px;
}
.prices .price-option p{
    font-size: 24px;
}
.price-waves{
    top: 36%;
    right: -90px;
}
.bee-container-price{
    left: 200px;
    top: 60px;
    animation: move 3s ease-in-out infinite;
}
/*SUBSCRIBE*/
.subscribe{
    color: var(--light-color);
    background: url(../img/subscribe-bg.svg);
    background-size: contain;
    padding-bottom: 35px;
}
.subscribe .subscribe-head{
    font-size: 36px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 70px;
}
form input{
    background-color: rgba(209, 209, 209, 1);
}
.sub-btn{
    border-radius: 10px;
    border: 2px solid var(--aqua-color);
    padding: 0.375rem 7.95rem;
    display: block;
    margin: 2rem auto;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    color: var(--light-color);
    background-color: var(--aqua-color) !important;
}
/*PICTURES & VIDEOS*/
.pic-wrapper, .video-wrapper{
    max-width: 1170px;
    width: 100%;
    margin: 50px auto;
    max-height: 40vh;
}
.pic-content, .video-content{
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0 40px;
}
.pic-content::-webkit-scrollbar,
.video-content::-webkit-scrollbar{
    display: none;
}
.pic-wrapper .pic-content .img-slide,
.video-wrapper .video-content .img-slide{
    min-width: 350px;
    margin-left: 15px;
    background-color: var(--light-color);
    border-radius: 15px;
    perspective: 100px;
    overflow: hidden;
    cursor: pointer;
}
.pic-wrapper .pic-content .img-slide:last-of-type,
.video-wrapper .video-content .img-slide:last-of-type{
    margin-left: 0;
}
.pic-wrapper .pic-content img,
.video-wrapper .video-content img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: transform 0.5s;
}
.pic-wrapper .pic-content img:hover,
.video-wrapper .video-content img:hover{
    transform: translateZ(20px);
    min-width: 400px;
}
.pic-wrapper button,
.video-wrapper button{
    border: none;
    width: fit-content;
    display: flex;
    align-items: center;
    top: 0;
    height: 100%;
    background-color: #fff;
}
.forward-btn,
.nex-btn{
    right: 0;
}
.back-btn,
.bck-btn{
    left: 0;
}
/*ACTIVITIES*/
.mt-9{
    margin-top: 9rem;
}
.activites{
    margin-top: 8.75rem;
    background: url(../img/big-bg.svg), url(../img/red-bg.svg),url(../img/yell-bg.svg);
    background-position: left -300px top, left 112% top 10%,right -1000px top 10px;
    padding-top: 150px;
    min-height: 225vh;
    background-size: 150% 219vh;
    background-repeat: no-repeat;
}
.activate-box{
    height: 199px;
    margin-bottom: 30px;
}
.activate-box .activity-img{
    background:url(../img/w-av-bg.svg);
    height: 100%;
    width: 280px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.activate-box .activity-details .act-head{
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0em;
    color: var(--aqua-color);
}
.activate-box .activity-details p{
    font-size: 24px;
    font-weight: 400;
}
.activate-box:last-of-type p{
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 0.8rem;
}
.snak-container{
    top: 100px;
    left: 0;
}
.large-bee-container{
    top: 50px;
    left: 30%;
    animation: move 3s ease-in-out infinite;
}
.small-bee-container{
    top: 130px;
    left: 25%;
    animation: move 3s ease-in-out infinite;
}
.sunflower-container-activ{
    top: -26px;
    left: 100px;
    /* animation: loading 10s linear infinite; */
}
/*VIDEOS*/
.opinion-container {
    white-space: nowrap;
}
.opinion-container .img{
    width: calc(100%) / 3;
}
.footer{
    background: url(../img/footer-bg.svg);
    padding-bottom: 40px;
    color: var(--light-color);
}
.footer .socials{
    gap: 40px;
}
.footer p{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 30px;
}
/* MEDIA QUERIES               RESPONSIVE                         */
@media (min-width:1281px) {
    .sunflower-container-activ{
        right: 10%;
        top: 70px;
        /* animation: loading 10s linear infinite; */
    }
}
@media screen and (max-width:1281px) {
    .bee-container{
        top: -20px;
        animation: move 3s ease-in-out infinite;
    }
    .activites{
        min-height: 180vh;
        margin-bottom: 40px;
    }
    .activites {
        margin-top: 50px;
        background: url(../img/v-gray.svg), url(../img/v-red.svg),url(../img/v-yell.svg);
        padding-top: 60px;
        padding-bottom: 60px;
        background-size: cover, contain, cover;
        background-position-y: top, bottom, top;
        background-repeat: no-repeat;
        margin-bottom: 60px;
        height: 100%;
    }
}
@media screen and (max-width:1200px) {
    .hero-section{
        min-height: 100vh;
    }
    .activites {
        margin-top: 50px;
        background: url(../img/v-gray.svg), url(../img/v-red.svg),url(../img/v-yell.svg);
        padding-top: 60px;
        padding-bottom: 60px;
        background-size: cover, contain, cover;
        background-position-y: top, bottom, top;
        background-repeat: no-repeat;
        margin-bottom: 60px;
        height: 100%;
    }
    .subscribe{
        background-size: cover;
    }
    .price-card .num {
        font-size: 90px;
        font-weight: 700;
    }
    .pic-wrapper, .video-wrapper {
        max-width: 928px;
    }
    .pic-wrapper .pic-content .img-slide, .video-wrapper .video-content .img-slide {
        min-width: 273px;
        margin-left: 10px;
    }
    .pic-wrapper .pic-content .img-slide:last-of-type, .video-wrapper .video-content .img-slide:last-of-type {
        margin-left: 0px;
    }
}
@media (min-width:768px) and (max-width:1200px) {
    .hero-section{
        background-position: left -180px top,left -180px top, right top 20px;
    }
    .hero-text{
        margin: auto;
        margin-top: 50vh;
    }
    .sunflower-container{
        left: 625px;
        margin-top: 100px;
        animation: loading 10s linear infinite;
    }
    .slide-container{
        max-width: 700px;
        width: 100%;
        padding: 20px 0;
        margin: 90px auto;
    }
    .slide-content{
        margin: 0 40px;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        overflow: hidden;
    }
    .slide-content::-webkit-scrollbar{
        display: none;
    }
    .crd{
        background-color: rgba(248, 248, 248, 1);
        border-radius: 12px;
        width: 290px;
        margin-left: 20px;
        flex: 0 0 auto;
        padding: 10px 20px;
    }
    .crd:last-of-type{
        margin-left: 0;
    }
    .card-info{
        line-height: 19px;
        font-size: 16px;
        margin-right: 10px;
    }
    .crd .name{
        font-weight: 700;
        color: var(--text-alt-color);
        font-size: 14px;
    }
    .crd .mail{
        color: rgba(83, 100, 113, 1);
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
    }
    .crd p{
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -1px;
        color: var(--text-color);
        margin-bottom: 0;
    }
    .pic-wrapper, .video-wrapper{
        max-width: 620px;
    }
    .pic-wrapper .pic-content .img-slide,
    .video-wrapper .video-content .img-slide{
        width: 100%;
        min-width: 100%;
        margin-left: 0;
        padding: 1px;
    }
}
@media screen and (max-width:550px) {
    .navbar-img{
        height: 55px;
         width: 135px;
    }
    .nav-link{
        font-size: 1rem;
    }
    .hero-section{
        background: url(../img/girl-hero.svg), url(../img/yell-hero.svg), url(../img/res-fish-hero.svg);
        background-position: top left, top 30px left -20px, bottom;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .hero-section .butterfly-container{
        left: 17%;
        top: 30%;
        width: 77px;
        height: 77px;
        animation: zoom-in-zoom-out 5s ease infinite;
    }
    .sunflower-container{
        width: 96px;
        height: 91px;
        top: 126px;
        right: 0;
        animation: loading 10s linear infinite;
    }
    .hero-text{
        margin: auto;
        margin-top: 66vh;
        max-width: 80%;
    }
    .hero-text p{
    font-size: 23px;
    font-weight: 900;
    line-height: 39px;
    letter-spacing: -0.055em;
    }
    .hero-text a {
        border-radius: 10px;
        padding: 10px 50px;
        display: block;
        margin: auto;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 37px;
        letter-spacing: 0em;
    }

    .prices .small-heading{
        width: 80%;
    }
    .prices .num{
        font-size: 40px;
        line-height: 35px;
        margin: 0;
    }
    .prices .price-card{
        padding: 15px;
        gap: 10px;
    }
    .box-details{
        line-height: 27px;
        font-size: 14px;
    }
    .box-details span{
        font-size: 18px;
    }
    .price-box .box-img{
        margin-left: 15px;
        width: 40px;
    }
    .prices .price-option{
        padding: 30px;
        height: 260px;
    }
    .prices .price-option span{
        font-size: 25px;
    }
    .prices .price-option p {
        font-size: 14px;
    }
    section.clients-opinion {
        padding-top: 60px;
    }
    .slide-container{
        max-width: 700px;
        width: 100%;
        padding: 20px 0;
        margin: 90px auto;
    }
    .slide-content{
        margin: 0 40px;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        overflow: hidden;
    }
    .slide-content::-webkit-scrollbar{
        display: none;
    }
    .crd{
        background-color: rgba(248, 248, 248, 1);
        border-radius: 12px;
        width: 100%;
        flex: 0 0 auto;
        padding: 10px 20px;
        margin: 0;
    }
    .slide-container{
        max-width: 90%;
        width: 100%;
        
    }
    .clients-opinion .crd p{
        font-size: 13px;
    }
    .subscribe{
        color: var(--light-color);
        background: url(../img/sub-small-bg.svg);
        background-size: cover;
        padding-bottom: 50px;
        background-repeat: no-repeat;
    }
    .subscribe .subscribe-head {
        font-size: 28px;
        max-width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
    .sunflower-container-activ {
        right: 324px;
        width: 95px;
        top: -40px;
       /* animation: loading 10s linear infinite; */

    }
    .activites {
        margin-top: 50px;
        background: url(../img/v-gray.svg), url(../img/v-red.svg),url(../img/v-yell.svg);
        padding-top: 60px;
        padding-bottom: 60px;
        background-size: cover, contain, contain;
        background-position-y: top, bottom, top;
        background-repeat: no-repeat;
        margin-bottom: 60px;
        height: 100%;
    }
    .activate-box{
        margin-bottom: 20px;
    }
    .activate-box .activity-details .act-head {
        font-size: 1.3125rem;
    }
    .activate-box p {
        font-size: 14px;
        line-height: 20px;
    }
    .pic-wrapper, .video-wrapper{
        max-width: 320px;
    }
    .pic-wrapper .pic-content .img-slide,
    .video-wrapper .video-content .img-slide{
        width: 100%;
        min-width: 100%;
        margin-left: 0;
        padding: 1px;
    }
    section.footer{
        max-height: 135px;
        padding-top: 30px;
    }
    .footer p{
        margin-bottom: 0;
        margin-top: 20px;
    }
    .tele-container{
        width: 24px;
    }
    .twitter-container{
        width: 21px;
    }
    .facebook-container{
        width: 11px;
    }
    .footer p{
        font-size: 13px;
    }
}
@keyframes move {
    50% {
        transform: translate(30px, 30px);
    }
}
@keyframes mvDownLeft {
    50% {
        transform: translate(-40px, 40px);
    }
}
@keyframes mvDownLeft {
    50% {
        transform: rotate(-40px, 40px);
    }
}
@keyframes loading {
    0% { 
      transform: rotate(0); 
    }
    100% { 
      transform: rotate(360deg);
    }
   }
   @keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1.2, 1.2);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.2, 1.2);
  }
}